<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Codebreaker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/index.css" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-default" style="background-color: #e60000">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/" style="color: white">Codebreaker</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/" style="color: white">Game<span class="sr-only">(current)</span></a></li>
						<li><a href="/score_table" style="color: white">Score table</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="wrapper">
			<div class="panel panel-default">
				<div class="panel-heading">
					
					<% if game %>
					<% if game.attempts == 9 && game.hints == 3%> New game has been started <% end %>
					<% if hint && game.hints >= 0 %>
					<h3>Secret code contains <%=hint%>. <%=game.hints%> hints left.</h3>
					<% elsif game.hints >= 0 %>
					<h3><%=game.hints%> hints left.</h3>
					<% else %>
					<h3>No more hints left!</h3>
					<% end %>
					<% if guess %>
					<h2>
					<% if !guess.match(/^[1-6]{4}$/) %>
					Input is not correct.
					<%else%>
					Your last guess is "<%=guess%>".
					<% end %>
					<% if game.attempts >= 1 %>
					Attempts left <%=game.attempts%>.
					<% else %>
					You have no attemts.
					<% end %>
					</h2>
					<% end %>
					
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<% if mark %>
					<%=mark%>
					<% else %>
					Make a guess.
					<% end %>
				</div>
				<div class="panel-body"  style="background-color: #f2f2f2">
					<form class="form-inline" method="post" action="/make_guess">
						<div class="form-group">
							<input class="form-control" name="guess" type="text">
							<button class="btn btn-primary" type="submit">Guess</button>
						</div>
					</form>
					<% if game.hints > 0 %>
					<div class="panel-body">
						<form class="form-inline" method="post" action="/get_hint">
							<div class="form-group">
								<button class="btn btn-primary" method="post" type="submit">Hint</button>
							</div>
						</form>
					</div>
					<% end %>
					<table class="table table-striped">
						<caption class="text-center">HISTORY OF GUESSES</caption>
						<tr>
							<th class="text-center">Guess</th>
							<th class="text-center">Answer</th>
						</tr>
						<% @request.session[:guesses_history].each do |result| %>
						<tr>
							<% if result[1].match(/^[1-6]{4}$/) %>
							<td><%= result[0] %></td>
							<td><%= result[1] %></td>
							<% end %>
						</tr>
						<% end %>
					</table>
					
				</div>
			</div>
		</div>
		<% else %>
		<h2>Welcome to codebreaker</h2>
		<a href="/start">Create new game</a>
		<% end %>
	</div>
	
</body>
</html>
